h1,h2 {
  color: #d44413;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

body {
  background: #ddd;
  font-size: 1em;
}

.page {
  margin: 20px;
  padding: 20px;
  border: 20px double #dd4814;
  background: white;
}
