h1,h2,h3 {
  color: #d44413;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

body {
  background: #ddd;
  font-size: 20px;
  line-height: 24px;
  font-family: sans-serif;
}

/* page */

.page {
  margin: 20px;
  padding: 20px;
  padding-top: 0;
  border: 20px double #dd4814;
  background: white;
}

@media (max-width: 767px) {
  .page {
    margin: 20px 0;
  }
}

/* banner */

.banner {
  text-align: center;
  width: 100%;
  background: white;
  border-width: 10px 0;
  border-color: #dd4814;
  border-style: dotted;
}

.banner-image {
  height: 160px;
  float: left;
}

/* navbar */
.navbar .nav>li>a{
  border-right: 1px solid rgb(0,0,0);
  border-right:1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgb(255,255,255);
  border-left:1px solid rgba(255, 255, 255, 0.1);
}
.navbar .nav>li>a:hover{
  border-left:1px solid rgb(0, 0, 0);
  border-left:1px solid rgba(0, 0, 0, 0.2);
}
.nav-collapse .nav>li>a:hover{
  background-color:rgb(0, 0, 0);
  background-color:rgba(0, 0, 0, 0.3);
}
@media (max-width: 979px) {
  .nav-collapse .nav>li>a{
    border: none;
  }
}

/*.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
}

.navbar-item {
  padding: 5px;
  margin: 5px;
  background: white;
}*/

/* clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}
