<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }} ~ Hong Kong Code Camp</title>
    <meta content='a 24 hour hackathon organised in Hong Kong' name='description'>
    <meta content='programming,asia,hong kong,hackathon' name='keywords'>
    <meta content='Codeaholics' name='author'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='favicon.ico' rel='shortcut icon'>
    <!--[if (lt IE 9) & (!IEMobile)]>
      <script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap_2.3.1.min.css">
    <link rel="stylesheet" type="text/css" href="css/site.css">

    <meta property="og:title" content="Hong Kong Code Camp #02 - *the* 24 Hour Hackathon in Hong Kong" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Hong Kong Code Camp #02 - *the* 24 Hour Hackathon in Hong Kong" />
    <meta property="og:description" content="<p>planning is underway for the next Code Camp, at the start of May, sign up to declare an interest, and be kept up-to-date with the latest information</p>" />
    <meta property="og:url" content="http://hkcodecamp.github.com" />
    <meta property="og:image" content="/images/camp_logo.png" />
  </head>
  <body>
    <div class="banner clearfix">
      <img class="banner-image" src="images/camp_logo.png">
      <h1>Hong Kong Code Camp</h1>
      <h2>*the* 24 hour Hackathon in Hong Kong</h2>
      <a href="signup.html">Code Camp #02 is coming, sign up for updates</a>
    </div>
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse navbar-responsive-collapse collapse">
            <ul class="nav">
              <li><a class="navbar-item" href="index.html">The Event</a></li>
              <li><a class="navbar-item" href="projects.html">Projects</a></li>
              <li><a class="navbar-item" href="schedule.html">Schedule</a></li>
              <li><a class="navbar-item" href="sponsors.html">Sponsors</a></li>
              <li><a class="navbar-item" href="cc01.html">#1 - October 2012</a></li>
              <li><a class="navbar-item" href="cc02.html">#2 - May 2013?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <article class="page">
        {{ content }}
      </article>
      <footer>
        <p>Hong Kong Code Camp is organised by <a href="https://groups.google.com/forum/?fromgroups#!forum/codeaholics">Hong Kong Codeaholics</a>.</p>
        <p><a href="http://vhew.smugmug.com/Events/201205hongkong/22951899_BdXKmM#!i=2147619081&k=7JfDPQV">Photos from Hong Kong Code Camp 2012</a> taken by Vaughn Hew</p>
        <a href="https://github.com/hkcodecamp/hkcodecamp.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
      </footer>
    </div>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script>
      var _gaq=[['_setAccount','UA-34237920-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
