<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Hong Kong Code Camp</title>
    <meta content='a 24 hour hackathon organised in Hong Kong' name='description'>
    <meta content='programming,asia,hong kong,hackathon' name='keywords'>
    <meta content='Codeaholics' name='author'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <!--[if (lt IE 9) & (!IEMobile)]>
      <script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/site.css">
  </head>
  <body>
    {{ content }}
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
